<div class="row">
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				{{item.name}}
			</div>
			<div class="panel-body">
				<legend>{{item.short_desc}}</legend>
				<span ng-bind-html="item.long_desc"></span>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Reviews</div>
			<div class="panel-body" ng-controller="ItemReviewListCtrl">
				<div class="well col-md-12">
					<legend><a href = "" id = "minimize" class = "glyphicon glyphicon-resize-small" ng-click="editor-hidden=!editor-hidden"></a> Review {{item.name}}</legend>
					<editor ng-hide="editor-hidden">
					</editor>
					{{editor-hidden}}
				</div>
				<div class="well col-md-12" ng-repeat="review in reviews">
					<legend>{{review.title}}</legend>
					<span ng-bind-html="review.content"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				Product Information
			</div>
			<div class="panel-body">
				<div class="button-toolbar" role="toobar">
					<div class="btn-group">
						<a href = "/bag.php?action=add&iid={{item.id}}" class="glyphicon glyphicon-briefcase" title="Add to Bag"></a>
					</div>
				</div>
				<hr/>
				Price: <br/>
				Score: {{item.score | number : 1}}
			</div>
		</div>
	</div>
</div>