<div class="row">
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a href="#shop/{{shop.id}}">{{shop.stylized}}</a>
			</div>
			<div class="panel-body">
				<p>{{shop.short_desc}}</p>
			</div>
		</div>
	</div>
	<div ng-repeat="item in items" class="col-md-3">
		<div class="panel panel-info">
		  <div class="panel-heading">
		    <h3 class="panel-title">
		    	<a href="#/shop/{{shop.id}}/item/{{item.id}}">
		    	{{item.name}}				    		
		    	</a>
		    </h3>
		  </div>
		  <div class="panel-body">
				<p>{{item.short_desc}}</p>
		  </div>
		</div>
	</div>
</div>