<div class="form-group" ng-if="field != '_id' && field != '__v' && field != 'shop' && !meta.internal">
	<label class="col-md-3 control-label">{{meta.name | normalize}}</label>
	<div class="col-md-8">
		<!-- Change these to directives to make it cleaner-->
		<input type = "text" class="form-control input-md" ng-model = "doc[key]" ng-if="!(isArray || meta.ref) && meta.media_type != 'text/html'"></input>
		<textarea class="html_editor" ng-if="meta.media_type == 'text/html'" ng-model = "doc[key]">
		</textarea>
		<select ng-if="meta.ref != null && !isArray" class="form-control input-md">
		</select>
		<document-table dtEmbedded="true" dtResource="{{meta.ref}}" ng-if="meta.ref != null && isArray"></document-table>
	</div>
</div>